.navbar a {
  text-decoration: none;
  margin-left: 70px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.linkHover:hover {
  color: rgb(238, 237, 237);
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.img-logo {
  padding: 10px;
  height: 55px;
  margin-left: 20rem;
}